.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 177);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  text-align: left;
}

.footer-links div {
  width: 250px;
  margin: 1rem;
}

.footer-links_logo {
  display: flex;
  flex-direction: column;
}

.footer-links_logo img {
  width: 118px;
  height: 30px;

  margin-bottom: 1rem;
}

.footer-links_contact {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-links_contact h4 {
  font-size: 14px;
  line-height: 17px;
  font-family: var(--font-family);
  color: #6d6868;

  margin-bottom: 0.9rem;
}

.footer-links_contact p {
  font-size: 12px;
  line-height: 15px;
  font-family: var(--font-family);
  color: #6d6868;

  margin: 0.5rem 0;
  cursor: pointer;
}

.footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.footer-copyright p {
  font-size: 12px;
  font-family: var(--font-family);
  line-height: 15px;
  color: #595151;
}
